@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap');

body{
    color: black;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.container-fluid p{
    font-family: 'Lato', sans-serif !important;
}

#header{
    /* background-image: url(images/homepage-bg.svg);
    background-size: cover; */
    position: relative !important;
    /* min-height: 500px !important; */
    padding-top: 30px !important;
   
}

.logo{
    width: 180px;
    height: 40px;
}

#header a{
    font-size: 14px !important;
    text-decoration: none;
    color: black;
}

#header a:hover{
    color:rgb(8, 68, 130);
}

#header a:active{
    color: rgb(109, 109, 245);
    border-bottom: 2px solid rgb(109, 109, 245);
}

.head h2, .head h4{
    text-align: center;
    color: #084482;
}

.one-col, .details{
    display: flex !important;
    /* justify-content: space-around; */

}

.one-col img{
    width: 151px;
    height: 33px;
    object-fit: contain;
}

.one-col p{
    border-left: 2px solid !important;
}

.details p{
    font-size: small;
}

.details img{
    width: 180px;
    height: 180px;
}
















.bottom img{
    width: 213px;
    height: 43px;
}

.space-between{
    background-color: #788996;
}

.space-between img{
    width: 24px;
    height: 24px;
}

button{
    background-color:#00aeff !important;
    border: none !important;
}